* {
 /*    box-sizing: border-box; */
    text-align: center;
  }

body {
    margin: auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777; 
    background: #777;
    width: 960px;
    font-size: 18px;
    
}   

/* .clearfix {
    overflow: auto;
} */


header {
    padding: 20px; 
    margin-bottom: 10px;
    color: #777;
    background: #ebebeb;
    margin-top: 10px;
}

nav {
    background: #ebebeb;
    padding: 20px; 
    color: #777;

}

section {
    width: 495px;
    float: left;
    padding: 20px; 
    background: #ebebeb;
    margin: 20px 20px 20px 0px;

}

aside {
    width: 365px; 
    float: left;
    padding: 20px;
    background: #ebebeb;
    margin-top: 20px;
    height: 252px; 
}

h6 {
    padding: 15px;
}

article {
    padding: 20px;
    background: #777;
    color: #777;
}

article h5 {
    background: #ebebeb;
    padding: 15px; 
   
}

article h6 {
    color: #ebebeb;
}

article p {
    background: #ebebeb;
    padding: 15px;
    margin: 10px 0px;
}

footer {
    clear: both;
    padding: 20px; 
    margin-top: 20px;
    background: #ebebeb;
    color: #777;
}

